<h1> {{pr.productname}}</h1>

<div class="card " >
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/{{pr.img}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4>{{pr.productname}}</h4>
                <b>List price:</b> $ {{pr.price}} <br>
                <b>Discount:</b> {{discount}}%<br>
                <b>Your price:</b> $ {{yourPrice()}} <br>
                <b>Quantity:</b> <input type="number" [(ngModel)]="quantity"> &nbsp;<button class="btn btn-success" (click)="addToCart()" >Add to cart</button>
                <b>Description:</b>
                {{pr.description}}
                <br>
                <b>Description:</b>
                <ul>
                    <li *ngFor='let f of feature'>{{f.text}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>